#tocWrapper {
    float: left;
    
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    
    padding-right: 50px;
    
    position: fixed;
}

#bytes {
    float: left;
}

#details {
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 20%;
    
    right: 8px;
    position: fixed;
}

.detail {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.error {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding-left: 5%;
    line-height: 150%;
}

body {
    font-family: "Verdana";
}