body {
  font-family: "Verdana";
  display: flex;
  margin: 0;
}

#leftPanel {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

#details {
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
  margin-top: 128px;
  right: 8px;
  position: fixed;
}

#bytes {
  flex-grow: 1;
}

.fullScroll { 
  height: 100vh;
  overflow-y: auto;
}

#rightPanel {
  position: absolute;
  top: 0;
  right: 14px;
  border: 0;
}

.detail {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-right: 10px;
}

.error {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding-inline-start: 10px;
  line-height: 150%;
}
