<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>dotNetBytes</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
    <script src="data.js" async></script>
  </head>
  <body>
    <div id="leftPanel">
      <input id="example" type="button"/>
      <input id="fileInput" type="file" />
      <br />
      <input id="tocSearch" placeholder="search">
      <div id="toc"></div>
    </div>
    <div id="bytes"></div>
    <div id="details">
      <div class="detail" id="focusDetail">
      </div>
    </div>
  </body>
</html>