<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>dotNetBytes</title>
    <!--link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> TODO -->
    <link rel="stylesheet" href="style.css">
    <script src="data.js"></script>
  </head>
  <body>
    <div id="toc"></div>
    <div id="bytes"></div>
    <div id="details">
      <div>
        <p id="detailName"></p>
        <p id="detailValue"></p>
        <p id="detailDescription"></p>
      </div>
    </div>
  </body>
</html>